PORT=3000
EPICS_SSO_URL=
IDP_ENTRY_POINT=https://idp.utdallas.edu/idp/profile/SAML2/Redirect/SSO
SIGNING_PRIVATE_KEY_PATH=./certs/signing-private-key.pem
SIGNING_CERTIFICATE_PATH=./certs/signing-public-cert.pem
DECRYPTION_PRIVATE_KEY_PATH=./certs/decryption-private-key.pem
DECRYPTION_CERTIFICATE_PATH=./certs/decryption-public-cert.pem